a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
ul{
    list-style: none;
}
address{
    font-style: normal;
}
a span{
    color: #4D5AE5;
}
.solution{
    background-color: #2E2F42;
    color: white;
}
.solution h1{
    text-align: center;

}
.solution button{
    background-color: #4D5AE5;
    color: white;
    margin: 20px auto 0 auto;
}
.team{    background-color: #F5F6FA;}
.team h2, .team h3, .team p, .portfolio h2{

    text-align: center;
}
.team ul li{
    background-color: #ffffff;
    margin: 20px 20px;
}
footer, footer a{
    background-color: #2E2F42;
    color: white;

}